.App1 {
  text-align: center;
}

.App1-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App1-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App1-header {
  background-color: #9bbaf9;
  min-height: 20vh;
  width: '20%';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 2rem;
}

.App1-link {
  color: #0d576c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
